body{
  max-width:1360px;
  width: 100%;
  min-height:2068px;
  height: 100vh;
  margin:auto;
}

*{
  margin: 0px;
  padding: 0px;
}
$home-font-family:"Mulish", sans-serif;
$home-text-color:#111111;
.grid_parent_projects{
  max-width: 1110px;
  width: 100%;
  min-height: 2068px;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(203,1fr);
}
.hedear{
  grid-column: 1/-1;
  grid-row: 1/59;
  display: grid;
  grid-template-columns: repeat(111,1fr);
  grid-template-rows: repeat(59,1fr);
  .navbar{
    display: grid;
    grid-template-columns:repeat(245,1fr);
    grid-template-rows: repeat(184,1fr);
    grid-column: 1/-1;
    grid-row: 1/8;
    .top_logo_projects{
      width: 92px;
      height: 20px;
      grid-column: 1/9;
      grid-row: 61/82;
    }
    .top_ul_projects{
      display: grid;
      grid-template-columns: 162fr;
      grid-template-rows: 1fr;
      grid-column: 83/-1;
      grid-row: 61/83;
      list-style: none;
      .home_li{
        grid-column: 1/81;
        grid-row: 1/2;
        font-family: $home-font-family;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.35px;
        color: $home-text-color;
      }
      .contact_li{
        grid-column: 81/-1;
        grid-row: 1/2;
        font-family: $home-font-family;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.35px;
        color: $home-text-color;
      }
    }
  } 
  .h1_projects{
    grid-column: 1/77;
    grid-row: 18/31;
    width: 475px;
    font-family: $home-font-family;
    font-size: 40px;
    font-weight: bold;
    line-height: 55px;
    color: $home-text-color;
    margin: 0px;
  }
  .topic_projects{
    grid-column: 1/77;
    grid-row: 31/59;
    width: 635px;
    font-family: $home-font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $home-text-color;
  }
    .project{
      grid-column: 78/85;
      grid-row: 22/23;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .genesis_portfolio{
      grid-column: 91/-1;
      grid-row: 22/23;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .line1{
      grid-column: 78/-1;
      grid-row: 25/26;
    }
    .design{
      grid-column: 78/85;
      grid-row: 27/28;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .Bakhtiyar_Sattarov{
      grid-column: 91/-1;
      grid-row: 27/28;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .line2{
      grid-column: 78/-1;
      grid-row: 30/31;
    }
    .Client{
      grid-column: 78/-1;
      grid-row: 32/33;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .Crarftwork{
      grid-column: 91/-1;
      grid-row: 32/33;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .line3{
      grid-column: 78/-1;
      grid-row: 35/36;
    }
    .Deliverable{
      grid-column:78/-1;
      grid-row: 37/38;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .Website_Design{
      grid-column: 91/-1;
      grid-row: 37/38;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .line4{
      grid-column:78/-1;
      grid-row:40/41;
    }
    .year{
      grid-column: 78/-1;
      grid-row: 42/43;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .detalis_2018{
      grid-column:91/-1;
      grid-row:42/43;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .line5{
      grid-column: 78/-1;
      grid-row: 45/46;
    }
    .Field{
      grid-column: 78/-1;
      grid-row: 47/48;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .Branding_Personal{
      grid-column: 91/-1;
      grid-row: 47/48;
      font-family: $home-font-family;
      font-size: 18px;
      font-weight: bold;
    }
    .line6{
      grid-column:78/-1;
      grid-row:50/51;
    }
  }
.main{
  background-color: red;
}
.footer{
  background-color: darkgoldenrod;
}



